:root {
  --font-primary: "Lato";
  --font-mono: "Lato";
  --font-awesome: "Lato";
  --font-family: "Lato";
  --font-size: 1rem;
  --font-size-button: 1rem;
  --font-weight-button: bold;
  --border-style-normal: solid;
  --border-radius-normal: 10px;
  --border-width-normal: 0.1rem;
  --color-border-normal: black;
  --border-style-input: solid;
  --border-radius-input: 0px;
  --border-width-input: 0.1rem;
  --color-border-input: black;
  --border-style-button: solid;
  --border-radius-button: 25px;
  --border-width-button: 0.1rem;
  --color-border-button: black;
  --button-padding: 0.1rem 0.25rem;
  --tooltip-delay-normal: 0.6s;
  --tooltip-delay-input: 0.9s;
  --color-stamina-dark: #006f37;
  --color-wounds-dark: #a80000;
  --color-resolve-dark: #0096c7;
  --color-reflexes-bright: #f9ff8f;
  --color-resilience-bright: #ffd183;
  --color-willpower-bright: #e4d1ff;
  --color-body-bright: #ffae9e;
  --color-mind-bright: #98ffab;
  --color-soul-bright: #93fdff;
  --color-critical-success-bright: lightskyblue;
  --color-success-bright: lightgreen;
  --color-failure-bright: gold;
  --color-critical-failure-bright: lightsalmon;
  --color-succeeded-dark: darkblue;
  --color-failed-dark: darkred;
  --color-background-label: rgb(255, 255, 255);
  --color-background-input: whitesmoke;
  --color-background-highlight: rgb(255, 233, 174);
  --color-background-static-label: rgb(208, 208, 208);
  --color-background-button-normal: rgba(255, 255, 240, 0.8);
  --color-background-button-highlight: rgb(255, 233, 174);
  --height-input: 1.5rem;
  --width-input: 100%; }
