:root {
   .app {
      background-color: rgba(15 15 15 / 0.80)
   }
}

.titan {
   --color-scrollbar: var(--titan-scrollbar-color);
   --color-scrollbar-track: var(--titan-scrollbar-gutter-color);
}

.titan-document-sheet > * {
   z-index: var(--z-index-app);
   transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.titan-dark-mode {
   // Panel styling
   --titan-panel-1-background: #373949;
   --titan-panel-2-background: #424557;
   --titan-panel-3-background: #2e303c;
   --titan-panel-1-color: rgba(255 255 255 / 0.83);
   --titan-panel-2-color: rgba(255 255 255 / 0.83);
   --titan-panel-3-color: rgba(255 255 255 / 0.83);
   --color-text-dark-primary: rgba(255 255 255 / 0.83);
   --color-text-dark-secondary: rgba(255 255 255 / 0.83);
   --color-text-dark-header: rgba(255 255 255 / 0.83);
   --color-text-dark-inactive: rgba(255 255 255 / 0.83);
   --color-border-highlight: rgba(255 255 255 / 0.83);
   --titan-static-value-background: rgb(70 70 70);

   .content-link {
      --color-text-dark-primary: #191813;

      color: var(--color-text-dark-primary);

      i {
         color: var(--color-text-dark-primary);
      }
   }

   // Input styling
   --titan-input-color: #1d1e26;
   --titan-input-background: #c5bcf8;

   // Generic Styling
   --titan-border-color: rgba(255 255 255 / 0.83);

   // Button styling
   --titan-button-border-color: #15171b;
   --titan-button-background: #f2b58c;
   --titan-button-border-style: solid;
   --titan-button-background-disabled: #D0D0D0;
   --titan-button-background-highlight: #FFE9AE;
   --titan-button-color: #15171b;
   --titan-icon-button-border-color: black;
   --titan-icon-button-background: #f2b58c;
   --titan-icon-button-highlight: #FFE9AE;
   --titan-icon-button-color: #15171b;

   // Tag styling
   --titan-tag-border-color: #15171b;
   --titan-tag-background: #a6ccf2;
   --titan-tag-color: #1d1e26;

   // Resource colors
   --titan-stamina-color: #37da88;
   --titan-wounds-color: #c55858;
   --titan-resolve-color: #3fb6dd;

   // Resistance colors
   --titan-reflexes-color: #eff49a;
   --titan-resilience-color: #f2c88c;
   --titan-willpower-color: #f28cbf;

   // Attribute colors
   --titan-body-color: #f29d8c;
   --titan-mind-color: #95f28c;
   --titan-soul-color: #b5f2e8;

   // Meter styling
   --titan-meter-background: #1E1E1E;
   --font-color: rgba(255 255 255 / 0.83);

   .window-content {
      background: #262836;
      color: var(--color-text-dark-primary);

      .content-link {
         --color-text-dark-primary: #191813;

         color: var(--color-text-dark-primary);

         i {
            --color-text-dark-primary: #191813;

            color: var(--color-text-dark-primary);
         }
      }
   }

   select {
      color: var(--titan-input-color);
      background: var(--titan-input-background);
   }


   &.chat-message {
      background: #424557;

      &.whisper {
         background: #20203e;
      }

      &.blind {
         background: #2e1b2e;
      }
   }

   .svg {
      filter: brightness(0);
   }

   .prosemirror {
      .editor-menu {
         --color-text-dark-primary: #191813;

         button:not(.pm-dropdown) {
            &:not(.active) {
               color: rgba(255 255 255 / 0.83);
            }

            &.active {
               --color-text-dark-primary: #191813;

               color: var(--color-text-dark-primary);
            }

            &:hover {
               --color-text-dark-primary: #191813;

               color: var(--color-text-dark-primary);
            }
         }
      }

      &.editing-source {
         textarea {
            color: rgba(255 255 255 / 0.83);
         }
      }

      --color-hover-bg: #FFE9AE;
   }

   h1,
   h2,
   h3,
   h4 {
      border-color: var(--titan-border-color);
   }

   &.window-app {
      .journal-entry-content {
         background: #262836;

         .title {
            color: var(--titan-input-color);
            background: var(--titan-input-background);
         }
      }

      .journal-header .title {
         color: var(--titan-input-color);
         background: var(--titan-input-background);
      }

      .journal-sidebar {
         background: #191a21;
      }

      .directory {
         input {
            color: var(--titan-input-color);
            background: var(--titan-input-background);
         }

         ::placeholder {
            color: var(--titan-input-color);
         }

         .action-buttons {
            button {
               border-color: var(--titan-button-border-color);
               background: var(--titan-button-background);
               color: var(--titan-button-color);
               margin: 0;

               &:disabled {
                  cursor: default;
                  background: var(--titan-button-background-disabled);
               }

               &:hover {
                  &:not(:disabled) {
                     background: radial-gradient(var(--titan-button-background-highlight), var(--titan-button-background));
                  }
               }
            }
         }
      }
   }

   .anonymous-replaced {
      color: #15171b;
   }
}

.rich-text {
   &.not-owner {
      .secret {
         display: none;
      }
   }

   font-family: 'Open Sans';
}

#chat-log .titan-dark-mode.emote.section .message-content {
   text-align: center;
   color: var(--titan-panel-1-color);
   font-style: italic;
}

.dark-svg {
   filter: brightness(0);
}

.token-link .fa-link {
   color: darkorange;
   text-shadow: 0 0 8px darkorange;
}

.token-link .fa-unlink {
   color: brown;
   text-shadow: 0 0 8px brown;
}

.token-link-highlight {
   text-shadow: 0 0 4px darkorange;
   color: darkorange;
}

.token-link-warning {
   text-shadow: 0 0 4px brown;
   color: brown;
}

.message-content {
   font-family: 'Open Sans';
}

.editor {
   font-family: 'Open Sans';
}

.journal-page-header {
   font-family: 'Open Sans';
}

.journal-page-content {
   font-family: 'Open Sans';
}
