.dark-mode {
   // Panel styling
   --panel-1-background: #373949;
   --panel-2-background: #424557;
   --panel-3-background: #44475a;
   --panel-1-color: rgba(255, 255, 255, 0.83);
   --panel-2-color: rgba(255, 255, 255, 0.83);
   --panel-3-color: rgba(255, 255, 255, 0.83);

   // Input styling
   --input-color: #1d1e26;
   --input-background: #b1a6f2;

   // Button styling
   --button-border-color: #15171b;

   --button-background: #f2bf8c;
   --button-border-style: solid;
   --button-background-disabled: rgb(208, 208, 208);
   --button-background-highlight: rgb(255, 233, 174);
   --button-color: #15171b;
   --icon-button-border-color: black;
   --icon-button-background: #f2bf8c;
   --icon-button-color-highlight: rgb(255, 233, 174);
   --icon-button-color: #15171b;

   // Label styles
   --label-background: #a6ccf2;
   --label-color: #1d1e26;

   .window-content {
      background: #15161d;
   }
}