@mixin background-normal {
  background: url(../ui/parchment.jpg) repeat;
  background-image: url(../ui/parchment.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

@mixin input {
  box-sizing: border-box;
  border-style: var(--input-border-style);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  background-color: var(--input-background-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-align: var(--text-alignment);
  height: var(--input-height);
  width: var(--input-width);
}

@mixin border {
  border-style: var(--border-style);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color-normal);
}

@mixin border-top {
  border-top: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color-normal);
}

@mixin border-bottom {
  border-bottom: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color-normal);
}

@mixin border-left {
  border-left: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color-normal);
}

@mixin border-right {
  border-right: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color-normal);
}

@mixin button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: var(--button-border-style);
  border-radius: var(--button-border-radius);
  border-width: var(--button-border-width);
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  color: var(--button-text-color);
  margin: 0;
}

@mixin icon-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: var(--icon-button-border-style);
  border-radius: var(--icon-button-border-radius);
  border-width: var(--icon-button-border-width);
  border-color: var(--border-color-icon-button);
  background-color: var(--icon-button-background-color);
  padding: var(--icon-button-padding);
  margin: 0;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-group-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin flex-group-left {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

@mixin flex-group-right {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

@mixin flex-group-top {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@mixin flex-space-between {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

@mixin flex-space-evenly {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@mixin grid($column-count) {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span $column-count / span $column-count;
  grid-template-columns: repeat($column-count, minmax(0, 1fr));
}

@mixin grid-start($column-count) {
  grid-column-start: $column-count
}

@mixin grid-span($column-count) {
  grid-column-end: span $column-count;
}

@mixin z-index-app {
  translate: 0;
  z-index: var(--z-index-app);

  * {
    z-index: var(--z-index-app);
  }
}