@mixin input {
   border-style: var(--titan-input-border-style);
   border-radius: var(--titan-input-border-radius);
   border-width: var(--titan-input-border-width);
   border-color: var(--titan-input-color);
   background: var(--titan-input-background);
   font-size: var(--font-size);
   font-family: var(--font-family);
   font-weight: var(--font-weight);
   text-align: var(--text-alignment);
   height: var(--titan-input-height);
   width: var(--titan-input-width);
   padding: var(--titan-input-padding);
   color: var(--titan-input-color);

   &:disabled {
      border-style: var(--titan-input-border-style);
      border-width: var(--titan-input-border-width);
      border-color: var(--input-border-color);
      color: var(--font-color);
      background: var(--titan-static-value-background);
      opacity: var(--titan-disabled-opacity);
   }
}

@mixin border {
   border-style: var(--titan-border-style);
   border-radius: var(--titan-border-radius-normal);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-top {
   border-top: var(--titan-border-style);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-top-bottom {
   border-top: var(--titan-border-style);
   border-bottom: var(--titan-border-style);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-top-bottom-right {
   border-top: var(--titan-border-style);
   border-bottom: var(--titan-border-style);
   border-right: var(--titan-border-style);
   border-top-right-radius: var(--titan-border-radius-normal);
   border-bottom-right-radius: var(--titan-border-radius-normal);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-bottom {
   border-bottom: var(--titan-border-style);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-bottom-sides {
   border-right: var(--titan-border-style);
   border-left: var(--titan-border-style);
   border-bottom: var(--titan-border-style);
   border-bottom-right-radius: var(--titan-border-radius-normal);
   border-bottom-left-radius: var(--titan-border-radius-normal);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-left {
   border-left: var(--titan-border-style);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-right {
   border-right: var(--titan-border-style);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
}

@mixin border-color-button {
   border-color: var(--titan-button-border-color);
}

@mixin padding-standard {
   padding: var(--titan-padding-standard);
}

@mixin padding-large {
   padding: var(--titan-padding-large);
}

@mixin button {
   align-items: center;
   background: var(--titan-button-background);
   border-color: var(--titan-button-border-color);
   border-radius: var(--titan-button-border-radius);
   border-style: var(--titan-button-border-style);
   border-width: var(--titan-button-border-width);
   box-sizing: border-box;
   color: var(--titan-button-color);
   display: flex;
   flex-direction: row;
   font-size: var(--titan-button-font-size);
   font-weight: var(--titan-button-font-weight);
   height: var(--titan-button-height);
   justify-content: center;
   line-height: var(--titan-button-line-height);
   margin: 0;
   padding: var(--titan-button-padding);
   text-align: center;
   width: var(--titan-button-width);

   &:disabled {
      cursor: default;
      background: var(--titan-button-background-disabled);
   }

   &:hover {
      &:not(:disabled) {
         background: radial-gradient(var(--titan-button-background-highlight), var(--titan-button-background));
      }
   }
}

@mixin mini-button {
   --titan-button-font-weight: normal;
   --titan-button-border-radius: var(--titan-border-radius);
   --titan-button-line-height: var(--titan-line-height-small);
   --titan-button-font-size: var(--titan-font-size-small);
}

@mixin icon-button {
   align-items: center;
   background: var(--titan-icon-button-background);
   border-color: var(--titan-border-color-icon-button);
   border-radius: var(--titan-icon-button-border-radius);
   border-style: var(--titan-icon-button-border-style);
   border-width: var(--titan-icon-button-border-width);
   box-sizing: border-box;
   color: var(--titan-icon-button-color);
   display: flex;
   flex-direction: row;
   font-size: var(--titan-icon-button-font-size);
   height: var(--titan-icon-button-radius);
   justify-content: center;
   line-height: var(--icon-button-line-height);
   margin: 0;
   padding: var(--titan-icon-button-padding);
   text-align: center;
   width: var(--titan-icon-button-radius);

   &:disabled {
      cursor: default;
      background: var(--titan-button-background-disabled);
   }

   &:hover {
      &:not(:disabled) {
         cursor: pointer;
         background: radial-gradient(var(--titan-button-background-highlight), var(--titan-button-background));
      }
   }

   i {
      margin-right: 0;
   }
}

@mixin flex-row {
   display: flex;
   flex-direction: row;
}

@mixin flex-column {
   display: flex;
   flex-direction: column;
}

@mixin flex-group-center {
   align-items: center;
   justify-content: center;
   text-align: center;
}

@mixin flex-group-left {
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}

@mixin flex-group-right {
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}

@mixin flex-group-top {
   align-items: center;
   justify-content: flex-start;
   text-align: center;
}

@mixin flex-group-top-right {
   align-items: flex-end;
   justify-content: flex-start;
   text-align: right;
}

@mixin flex-group-top-left {
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}

@mixin flex-space-between {
   align-items: center;
   justify-content: space-between;
   text-align: center;
}

@mixin flex-space-evenly {
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
}

@mixin grid($column-count) {
   display: grid;
   margin: 0;
   padding: 0;
   grid-column: span $column-count / span $column-count;
   grid-template-columns: repeat($column-count, minmax(0, 1fr));
}

@mixin grid-rows($row-count) {
   display: grid;
   grid-template-rows: repeat($row-count, 1fr);
   grid-auto-flow: column;
}

@mixin grid-start($column-count) {
   grid-column-start: $column-count;
}

@mixin grid-span($column-count) {
   grid-column-end: span $column-count;
}

@mixin attribute-colors {
   &.body {
      background: var(--titan-body-color);
   }

   &.mind {
      background: var(--titan-mind-color);
   }

   &.soul {
      background: var(--titan-soul-color);
   }
}

@mixin attribute-button {
   &.body {
      --titan-button-background: var(--titan-body-color);
   }

   &.mind {
      --titan-button-background: var(--titan-mind-color);
   }

   &.soul {
      --titan-button-background: var(--titan-soul-color);
   }

   --titan-button-background-disabled: var(--titan-button-background);
}

@mixin resistance-colors {
   &.reflexes {
      background: var(--titan-reflexes-color);
   }

   &.resilience {
      background: var(--titan-resilience-color);
   }

   &.willpower {
      background: var(--titan-willpower-color);
   }
}

@mixin resistance-button {
   &.reflexes {
      --titan-button-background: var(--titan-reflexes-color);
   }

   &.resilience {
      --titan-button-background: var(--titan-resilience-color);
   }

   &.willpower {
      --titan-button-background: var(--titan-willpower-color);
   }
}

@mixin rarity-colors {
   &.uncommon {
      background: var(--titan-uncommon-color);
   }

   &.rare {
      background: var(--titan-rare-color);
   }

   &.unique {
      background: var(--titan-unique-color);
   }
}

@mixin list {
   list-style: none;
   padding: 0;
   margin: 0;
}

@mixin panel-1 {
   background: var(--titan-panel-1-background);
   color: var(--titan-panel-1-color);

   --titan-border-color: var(--titan-panel-1-color);
}

@mixin panel-2 {
   background: var(--titan-panel-2-background);
   color: var(--titan-panel-2-color);

   --titan-border-color: var(--titan-panel-2-color);
}

@mixin panel-3 {
   background: var(--titan-panel-3-background);
   color: var(--titan-panel-3-color);

   --titan-border-color: var(--titan-panel-3-color);
}

@mixin label {
   background: var(--titan-label-background);
   color: var(--titan-label-color);

   --titan-border-color: var(--titan-label-color);
}

@mixin tag {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
   border-style: var(--titan-border-style);
   border-radius: var(--titan-border-radius-normal);
   border-width: var(--titan-border-width-normal);
   border-color: var(--titan-border-color);
   font-weight: bold;
   padding: var(--titan-padding-standard);
}

@mixin editor {
   --tjs-editor-background: var(--titan-editor-background);
   --tjs-editor-border: var(--titan-editor-border);
   --tjs-editor-border-radius: var(--titan-editor-border-radius);
}

@mixin tag-margin {
   margin: var(--titan-padding-large) var(--titan-padding-standard) 0 var(--titan-padding-standard);
}

@mixin tag-margin-small {
   margin: 2px 0;
}

@mixin font-size-normal {
   font-size: var(--titan-font-size-normal);
}

@mixin font-size-small {
   font-size: var(--titan-font-size-small);
}

@mixin font-size-large {
   font-size: var(--titan-font-size-large);
}

@mixin font-size-extra-large {
   font-size: var(--titan-font-size-extra-large);
}

@mixin static-value {
   color: var(--font-color);
   background: var(--titan-static-value-background);
}

@mixin mod-colors {
   &.greater {
      color: var(--titan-greater-color);
      background: var(--titan-greater-background);
   }

   &.lesser {
      color: var(--titan-lesser-color);
      background: var(--titan-lesser-background);
   }
}

@mixin effect-permanent {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-cyan) 0, var(--titan-green) 100%);
}

@mixin effect-turn-start {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-purple) 0, var(--titan-cyan) 100%);
}

@mixin effect-turn-end {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-pink) 0, var(--titan-purple) 100%);
}

@mixin effect-expired {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-yellow) 0, var(--titan-red) 100%);
}

@mixin effect-initiative {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-red), var(--titan-purple) 100%);
}

@mixin effect-custom {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-purple), var(--titan-yellow) 100%);
}

@mixin fast-healing {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-green), var(--titan-yellow) 100%);
}

@mixin persistent-damage {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-maroon), var(--titan-orange) 100%);
}

@mixin resolve-regain {
   --titan-border-color: var(--titan-label-color);

   color: var(--titan-label-color);
   background: linear-gradient(var(--titan-gradient-degree), var(--titan-blue), var(--titan-cyan) 100%);
}

@mixin z-index-app {
   z-index: var(--z-index-app);
}
