@mixin input {
  box-sizing: border-box;
  border-style: var(--border-style-input);
  border-radius: var(--border-radius-input);
  border-width: var(--border-width-input);
  border-color: var(--color-border-input);
  background-color: var(--color-background-input);
  font-size: var(--font-size);
  font-family: var(--font-family);
  text-align: var(--text-alignment);
  height: var(--height-input);
  width: var(--width-input);
}

@mixin border-normal {
  border-style: var(--border-style-normal);
  border-radius: var(--border-radius-normal);
  border-width: var(--border-width-normal);
  border-color: var(--border-color-normal);
}

@mixin button-normal {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: var(--border-style-button);
  border-radius: var(--border-radius-button);
  border-width: var(--border-width-button);
  border-color: var(--border-color-button);
  background-color: var(--color-background-button-normal);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  padding: var(--button-padding);
  margin: 0;
}

@mixin icon-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: var(--border-style-icon-button);
  border-radius: var(--border-radius-icon-button);
  border-width: var(--border-width-icon-button);
  border-color: var(--border-color-icon-button);
  background-color: var(--color-background-icon-button-normal);
  padding: var(--icon-button-padding);
  margin: 0;
}

@mixin border-top-normal {
  border-top: var(--border-style-normal);
  border-width: var(--border-width-normal);
  border-color: var(--border-color-normal);
}

@mixin border-bottom-normal {
  border-bottom: var(--border-style-normal);
  border-width: var(--border-width-normal);
  border-color: var(--border-color-normal);
}

@mixin border-input {
  border-style: var(--border-style-input);
  border-radius: var(--border-radius-input);
  border-width: var(--border-width-input);
  border-color: var(--border-color-normal);
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-group-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin flex-group-left {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

@mixin flex-group-right {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

@mixin flex-group-top {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@mixin flex-space-between {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

@mixin flex-space-evenly {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@mixin grid($column-count) {
  display: grid;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0;
  grid-column: span $column-count / span $column-count;
  grid-template-columns: repeat($column-count, minmax(0, 1fr));
}

@mixin grid-start($column-count) {
  grid-column-start: $column-count
}

@mixin grid-span($column-count) {
  grid-column-end: span $column-count;
}