:root {
  // Fonts
  --font-primary: 'Lato';
  --font-mono: 'Lato';
  --font-awesome: 'Lato';
  --font-family: 'Lato';
  --font-size: 1rem;
  --font-color: black;

  // Border styling
  --border-style: solid;
  --border-radius: 10px;
  --border-width: 0.1rem;
  --border-color: black;

  // Input styling
  --input-border-style: solid;
  --input-border-radius: 0px;
  --input-border-width: 0.1rem;
  --input-color: black;
  --input-height: 1.5rem;
  --input-width: 100%;
  --input-background: white;
  --input-padding: 0 0.25rem;

  // Button Styling
  --button-border-style: solid;
  --button-border-radius: 25px;
  --button-border-width: 0.1rem;
  --button-border-color: black;
  --button-padding: 0.1rem 0.5rem;
  --button-background: rgba(255, 255, 240, 0.8);
  --button-background-disabled: rgb(208, 208, 208);
  --button-background-highlight: rgb(255, 233, 174);
  --button-font-size: 1rem;
  --button-font-weight: bold;
  --button-color: black;
  --button-line-height: 1.75rem;
  --button-color-disabled: black;
  --button-color-highlight: black;

  // Icon Button Styling
  --icon-button-border-style: solid;
  --icon-button-border-radius: 50%;
  --icon-button-border-width: 0.1rem;
  --icon-button-border-color: black;
  --icon-button-padding: 0.1rem;
  --icon-button-background: rgba(255, 255, 240, 0.8);
  --icon-button-highlight: rgb(255, 233, 174);
  --icon-button-radius: 2rem;
  --icon-button-font-size: 1rem;
  --icon-button-color: black;

  // Tool tip delay
  --tooltip-delay-normal: 0.6s;
  --tooltip-delay-input: 0.9s;

  // Resource colors
  --stamina-color: #008442;
  --wounds-color: #980000;
  --resolve-color: #0096c8;

  // Resistance colors
  --reflexes-color: #eff49a;
  --resilience-color: #f2c88c;
  --willpower-color: #f28cbf;

  // Attribute colors
  --body-color: #f29d8c;
  --mind-color: #95f28c;
  --soul-color: #b5f2e8;

  // Dice result colors
  --critical-success-color: lightskyblue;
  --success-color: lightgreen;
  --failure-color: gold;
  --critical-failure-color: lightsalmon;

  // Check results colors
  --succeeded-color: darkblue;
  --failed-color: darkred;

  // Theme Colors
  --color-primary: #80cbc4;
  --color-primary-light: #b2fef7;
  --color-primary-dark: #4f9a94;
  --color-secondary: #9fa8da;
  --color-secondary-light: #d1d9ff;
  --color-secondary-dark: #6f79a8;
  --color-background: #bab9ae;
  --color-foreground: #e4e3d7;
  --color: white;
  --highlight-background: rgb(255, 233, 174);
  --static-value-background: rgb(208, 208, 208);
  --active-background: #fcdbbf;

  // Panel Styles
  --panel-1-background: #8c8c8c5e;
  --panel-1-color: black;
  --panel-2-background: #c7c7c75e;
  --panel-2-color: black;
  --panel-3-background: #eee9e683;
  --panel-3-color: black;

  // Label styles
  --label-background: whitesmoke;
  --label-color: black;

  // Rarity colors
  --uncommon-color: #d0ffbb;
  --rare-color: #acdcff;
  --unique-color: #ffcfe9;

  // Opacity
  --disabled-opacity: 1;

  // Editor
  --editor-background: whitesmoke;
  --editor-border: none;
  --editor-border-radius: 0;

  // Font sizes
  --font-size-normal: 1rem;
  --font-size-small: 0.9rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.5rem;

  // Mod values
  --lesser-color: #8B0000;
  --lesser-background: #ffd1d1;
  --greater-color: #023020;
  --greater-background: #c5ffeb;


  --meter-shadow-1: rgba(255, 255, 255, 0.3);
  --meter-shadow-2: rgba(0, 0, 0, 0.4);

  --meter-background: whitesmoke;
}