:root {
   // Fonts
   --font-color: black;
   --font-primary: 'Lato';
   --font-monospace: 'Lato';
   --font-size: 16px;
   --font-body: 'Open Sans';
   --titan-font-color: black;
   --titan-font-normal: 'Lato';
   --titan-font-body: 'Open Sans';

   // Font sizes
   --titan-font-size-normal: 16px;
   --titan-font-size-small: 14px;
   --titan-font-size-large: 20px;
   --titan-font-size-extra-large: 24px;

   // Line heights
   --titan-line-height-normal: 16px;
   --titan-line-height-small: 14px;

   // Border styling
   --titan-border-style: solid;
   --titan-border-radius-normal: 4px;
   --titan-border-width-normal: 2px;
   --titan-border-width-thick: 4px;
   --titan-border-color: black;

   // Scrollbar
   --titan-scrollbar-color: #f2b58c;
   --titan-scrollbar-gutter-color: #1b1b1b;

   // Padding
   --titan-padding-standard: 4px;
   --titan-padding-large: 8px;

   // Input styling
   --titan-input-border-style: solid;
   --titan-input-border-radius: 0px;
   --titan-input-border-width: 2px;
   --titan-input-color: black;
   --titan-input-height: 24px;
   --titan-input-width: 100%;
   --titan-input-background: white;
   --titan-input-padding: 0 4px;
   --titan-input-text-alignment: center;
   --titan-input-font: 'Lato';
   --titan-input-font-weight: bold;
   --titan-input-font-size: 16px;

   // Button Styling
   --titan-button-border-style: solid;
   --titan-button-border-radius: 12px;
   --titan-button-border-width: 2px;
   --titan-button-border-color: black;
   --titan-button-padding: 4px 8px;
   --titan-button-background: rgba(255 255 240 / 0.8);
   --titan-button-background-disabled: #D0D0D0;
   --titan-button-background-highlight: #FFE9AE;
   --titan-button-font-size: 16px;
   --titan-button-font-weight: bold;
   --titan-button-color: black;
   --titan-button-line-height: 20px;
   --titan-button-color-disabled: black;
   --titan-button-color-highlight: black;
   --titan-button-chat-message-border-radius: 10px;
   --titan-button-width: 100%;
   --titan-button-heigh: 100%;

   // Icon Button Styling
   --titan-icon-button-border-style: solid;
   --titan-icon-button-border-radius: 16px;
   --titan-icon-button-border-width: 2px;
   --titan-icon-button-border-color: black;
   --titan-icon-button-padding: 2px;
   --titan-icon-button-background: rgba(255 255 240 / 0.8);
   --titan-icon-button-highlight: #FFE9AE;
   --titan-icon-button-radius: 32px;
   --titan-icon-button-font-size: 16px;
   --titan-icon-button-color: black;

   // Label styling
   --titan-label-border-style: solid;
   --titan-label-border-radius: 4px;
   --titan-label-border-width: 2px;
   --titan-label-border-color: black;
   --titan-label-background: whitesmoke;
   --titan-label-color: black;
   --titan-label-padding: 4px;

   // Tag styling
   --titan-tag-font-size: 14px;
   --titan-tag-border-style: solid;
   --titan-tag-border-radius: 4px;
   --titan-tag-border-width: 2px;
   --titan-tag-border-color: black;
   --titan-tag-background: whitesmoke;
   --titan-tag-color: black;
   --titan-tag-padding: 4px;

   // Resource colors
   --titan-stamina-color: #008442;
   --titan-wounds-color: #980000;
   --titan-resolve-color: #0096c8;

   // Resistance colors
   --titan-reflexes-color: #eff49a;
   --titan-resilience-color: #f2c88c;
   --titan-willpower-color: #f28cbf;

   // Attribute colors
   --titan-body-color: #f29d8c;
   --titan-mind-color: #95f28c;
   --titan-soul-color: #b5f2e8;

   // Dice result colors
   --titan-critical-success-color: lightskyblue;
   --titan-success-color: lightgreen;
   --titan-failure-color: gold;
   --titan-critical-failure-color: lightsalmon;

   // Check results colors
   --titan-succeeded-color: darkblue;
   --titan-failed-color: darkred;

   // Theme Colors
   --titan-highlight-background: #FFE9AE;
   --titan-static-value-background: #D0D0D0;
   --titan-static-value-color: black;
   --titan-static-value-border-color: black;
   --titan-active-background: #fcdbbf;

   // Panel Styles
   --titan-panel-1-background: #8c8c8c5e;
   --titan-panel-1-color: black;
   --titan-panel-2-background: #c7c7c75e;
   --titan-panel-2-color: black;
   --titan-panel-3-background: #eee9e683;
   --titan-panel-3-color: black;

   // Rarity colors
   --titan-uncommon-color: #d0ffbb;
   --titan-rare-color: #ffdeac;
   --titan-unique-color: #ffcfee;

   // Opacity
   --titan-disabled-opacity: 1;

   // Editor
   --titan-editor-background: whitesmoke;
   --titan-editor-border: none;
   --titan-editor-border-radius: 0;

   // Mod values
   --titan-lesser-color: #8b0000;
   --titan-lesser-background: #ffd1d1;
   --titan-greater-color: #023020;
   --titan-greater-background: #c5ffeb;

   // Meter values
   --titan-meter-shadow-1: rgba(255 255 255 / 0.3);
   --titan-meter-shadow-2: rgba(0 0 0 / 0.4);
   --titan-meter-background: whitesmoke;

   // Gradient styling
   --titan-gradient-degree: 135deg;

   // Effect styling
   --titan-custom-effect-primary: #9580ff;
   --titan-custom-effect-secondary: #ffff80;
   --titan-expired-effect-primary: #ffff80;
   --titan-expired-effect-secondary: #ff9580;
   --titan-initiative-effect-primary: #ff9580;
   --titan-initiative-effect-secondary: #9580ff;
   --titan-permanent-effect-primary: #80ffea;
   --titan-permanent-effect-secondary: #8aff80;
   --titan-turn-end-effect-primary: #ff80bf;
   --titan-turn-end-effect-secondary: #9580ff;
   --titan-turn-start-effect-primary: #9580ff;
   --titan-turn-start-effect-secondary: #80ffea;
}
