@mixin font-size-normal {
   font-size: var(--titan-font-size-normal);
}

@mixin font-size-small {
   font-size: var(--titan-font-size-small);
}

@mixin font-size-large {
   font-size: var(--titan-font-size-large);
}

@mixin font-size-extra-large {
   font-size: var(--titan-font-size-extra-large);
}
