@use './BorderMixins' as border;
@use './FlexMixins' as flex;

@mixin label {
   @include flex.flex-row;
   @include flex.flex-group-center;

   font-weight: var(--titan-label-font-weight);
   font-size: var(--titan-label-font-size);
}

@mixin bordered-label {
   @include label;
   @include border.border;

   --titan-border-color: var(--titan-label-border-color);
   --titan-border-radius: var(--titan-label-border-radius);
   --titan-border-style: var(--titan-label-border-style);
   --titan-border-width: var(--titan-label-border-width);

   background: var(--titan-label-background);
   color: var(--titan-label-font-color);
   padding: var(--titan-label-padding);
   width: var(--titan-label-width);
   height: var(--titan-label-height);
}
