@mixin padding-standard {
   padding: var(--titan-padding-standard);
}

@mixin padding-large {
   padding: var(--titan-padding-large);
}

@mixin padding-top-standard {
   padding-top: var(--titan-padding-standard);
}

@mixin padding-top-large {
   padding-top: var(--titan-padding-large);
}

@mixin padding-left-standard {
   padding-left: var(--titan-padding-standard);
}

@mixin padding-left-large {
   padding-left: var(--titan-padding-large);
}
