@mixin calculated-value {
   background: var(--titan-calculated-value-background);
   border-color: var(--titan-calculated-value-border-color);
   color: var(--titan-calculated-value-font-color);
}

@mixin fast-healing-tag {
   --titan-tag-background: var(--titan-stamina-background);
   --titan-tag-font-color: var(--titan-stamina-font-color);
}

@mixin persistent-damage-tag {
   --titan-tag-background: var(--titan-wounds-background);
   --titan-tag-font-color: var(--titan-wounds-font-color);
}

@mixin resolve-regain-tag {
   --titan-tag-background: var(--titan-resolve-background);
   --titan-tag-font-color: var(--titan-resolve-font-color);
}
