@use './BorderMixins' as border;
@use './FlexMixins' as flex;
@use './FontMixins' as font;

@mixin tag {
   @include border.border;
   @include flex.flex-group-center;
   @include flex.flex-row;

   --titan-border-style: var(--titan-tag-border-style);
   --titan-border-color: var(--titan-tag-border-color);
   --titan-border-radius: var(--titan-tag-border-radius);
   --titan-border-width: var(--titan-tag-border-width);

   background: var(--titan-tag-background);
   color: var(--titan-tag-font-color);
   font-size: var(--titan-tag-font-size);
   font-weight: var(--titan-tag-font-weight);
   padding: var(--titan-tag-padding);
}

@mixin large-tag {
   @include tag;

   --titan-tag-font-size: var(--titan-font-size-large);
}

@mixin tag-container-child-margin {
   margin: var(--titan-spacing-large) var(--titan-spacing-standard) 0 var(--titan-spacing-standard);
}

@mixin tag-container {
   @include flex.flex-row;
   @include flex.flex-group-center;

   flex-wrap: wrap;

   > * {
      @include tag-container-child-margin;
   }
}
